html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.employee-container .employee {
  display: flex;
  align-center: center;
  justify-content: flex-start;
}

.employee-container {
  div {
    margin-right: 100px;
  }
}

.weeks {
  display: flex;
  align-center: center;
  justify-content: flex-start;
}

.hours-left {
  margin-top: 25px;
}

.project-hours {
  margin-top: 10px;
}
